* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;
  padding-top: 8.8rem;
  padding-bottom: 6.8rem;
  max-width: 65rem;
}

/* HEADER */
.header-container {
  text-align: center;
  color: #fff;
}

.header-title {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 3.6rem;
  letter-spacing: -0.029rem;
  margin-bottom: 1.6rem;
}

.header-body {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  margin-bottom: 6.4rem;
}

/* FORM */

.try-free {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.6rem;
  letter-spacing: 0.027rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  padding: 1.6rem 6.6rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  margin-bottom: 2.4rem;
}

.try-free-span {
  font-weight: 700;
}

form {
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 1.4rem;
}

input[type="text"] {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing: 0.025rem;
  color: #3d3b48;
  padding: 1.5rem 1.94rem;
  padding-right: 5rem;
  border: 1px solid #dedede;
  border-radius: 1rem;
}

input[type="text"]:focus {
  outline: 1px solid #5e54a4;
}

input[type="submit"] {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.6rem;
  width: 100%;
  background-color: #38cc8b;
  color: white;
  padding: 1.5rem 4.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  margin-bottom: 0.8rem;
}

.terms {
  text-align: center;
  font-size: 1.1rem;
  line-height: 2.1rem;
  color: #bab7d4;
  padding: 0 2rem;
}

.terms-span {
  color: #ff7979;
  font-weight: 700;
}

/* Error msg */

[name="alert-circle"] {
  position: absolute;
  font-size: 2.4rem;
  color: #ff7979;
  top: 18px;
  right: 20px;
  display: none;
}
.error {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ff7979;
  text-align: right;
  margin-top: 0.6rem;
  display: none;
}

@media only screen and (min-width: 1200px) {
  body {
    width: 100vw;
    height: 100vh;
    align-items: center;
  }

  .container {
    max-width: 111rem;
    flex-direction: row;
    align-items: center;
    gap: 4.5rem;
    padding: 0;
  }

  .header-container {
    text-align: left;
    width: 52.5rem;
  }

  .header-title {
    font-size: 5rem;
    line-height: 5.5rem;
    letter-spacing: -0.052rem;
    margin-bottom: 2.5rem;
  }

  .header-body {
    margin: 0;
  }
}
